*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}
.box1{
  background-color: red;
  height: 100px;
  width: 100px;
}

.box2{
  background-color: lightseagreen;
  height: 100px;
  width: 100px;
}

.box3{
  background-color: lightblue;
  height: 100px;
  width: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

}
.navelem{
  display: flex;
  gap: 50px;
}

h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  font-size: 80px;
}